<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>login</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegServlet</display-name>
    <servlet-name>RegServlet</servlet-name>
    <servlet-class>controller.RegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegServlet</servlet-name>
    <url-pattern>/RegServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BOM</display-name>
    <servlet-name>BOM</servlet-name>
    <servlet-class>controller.BOM</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BOM</servlet-name>
    <url-pattern>/BOM</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update</display-name>
    <servlet-name>Update</servlet-name>
    <servlet-class>controller.Update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update</servlet-name>
    <url-pattern>/Update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUpdate</display-name>
    <servlet-name>AdminUpdate</servlet-name>
    <servlet-class>controller.AdminUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUpdate</servlet-name>
    <url-pattern>/AdminUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FeedbackUpdate</display-name>
    <servlet-name>FeedbackUpdate</servlet-name>
    <servlet-class>controller.FeedbackUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeedbackUpdate</servlet-name>
    <url-pattern>/FeedbackUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Recom</display-name>
    <servlet-name>Recom</servlet-name>
    <servlet-class>controller.Recom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Recom</servlet-name>
    <url-pattern>/Recom</url-pattern>
  </servlet-mapping>
</web-app>